# Clés de signature
*.key
# Dossiers de données Harbor (souvent volumineux et contenant des secrets)
devsecops/harbor/common/
devsecops/harbor/data/
devsecops/
reports/
cosign.key
devsecops/harbor/harbor/common/
devsecops/harbor/harbor/common/
devsecops/harbor/harbor/harbor.yml
